body {
  background-color: #eaf6f6;
  color: #40514e;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-family: 'Just Another Hand', cursive;
  font-size: 4rem;
  margin: 50px 0 0 0;
}

h2 {
  color: #51A6B3;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #11999e 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

P {
  margin: 0;
color: #40514e;
line-height: 2;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}
/***************CONTAINERS**************/

.top-container {
  background-color: white;
  position: relative;
  padding-top: 5px;
}

.middle-container {
  background-color: white;
}

.bottom-container {
  background-color: #66bfbf;
  color: #eaf6f6;
  padding: 20px 0 15px 0;
}

/***********IMAGES***********/

.my-pic {
  padding: 10px;
}

.computer-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.logo {
  padding-bottom: 2px;
}

.marketing-pic {
  width: 25%;
  float: left;
  margin-left: 30px;
}

.security-pic {
  width: 25%;
  float: left;
  margin-left: 30px;
}

/**********CLASSES**********/

.intro {
  margin: 0 150px 0 150px;
}

.footer-link {
  background-color: #d8e3e7;
  color: #11999e;
}

.skills {
  margin: 100px auto 100px auto;
  width: 85%;
}

.skill-row {
  line-height: 2;
  text-align: left;
  margin: 100px auto 100px auto;
  width: 90%;
}

.contact-me {
  width: 75%;
  margin: 40px auto 60px;
}

.contact-h3 {
  font-weight: normal;
}

.copyright {
  color: #eaf6f6;
  font-size: .75rem;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
}

/**********BUTTONS**********/

.BUTTON_CIM {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
   width: 141px;
   font-size: 26px;
   font-weight: 100;
   padding: 27px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_CIM:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
